
$maroon: #9d0525;
$sand: #cbae9a;
$deep-green: #434d3e;
$olive: #59592c;
$silver: #b2b7bb;
$white: #ffffff;

$logo-color: $maroon;
$navigation-bar-background-color: $maroon;
$navigation-background-color: $sand;
