//
// Site header
//

.logo {
  margin-left: 10px;
  margin-bottom: -30px;
  height: 136px;

  .logo-roessle {
    transform: rotate(-8.8deg);
    position: absolute;
    bottom: -10px;
    left: 20px;

    .logo-hotel-gasthof {
      height: 17px;
      color: $logo-color;
      font-family: "Alegreya Sans",sans-serif,"google";
      font-weight: normal;
      font-style: normal;
      font-size: 17px;
      line-height: 17px;
      letter-spacing: 1px;
      word-spacing: 4px;
    }

    .logo-stamp-roessle {
      height: 96px;
      width: 222px;
      background: url(/images/logos/stamp_roessle.png);
      margin-top: 2px;
      margin-left: 16px;
    }
  }


}

.breadcrumb-float-outer-wrapper {
  padding-left: 10px;
}

.navigation-colors-bar {
  background: url(/images/backgrounds/bar.png);
  background-color: $navigation-bar-background-color;
  height: 20px;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
}

.navigation-colors {
  background-color: $navigation-background-color;
  padding-top: 27px;
}

.tpl-navigation-wrapper {
  a {
    &:link, &:visited {
      font-size: 17px;
      text-transform: lowercase;
    }
  }
}

// 
// Site footer
// 

// 
// Page content
// 

.content-options-inner, .sidebar-options {
  h1:not(.cc-within-single-module-element):not(.j-blog-headline) {
    text-transform: lowercase;
  }
  h1 {
    a:link, a:visited {
      text-transform: lowercase;
    }
  }
}

%text-font {
  font-size: 18px !important;
}

.j-text {
  @extend %text-font;
  span {
    @extend %text-font;
  }
}